In [2]:
 import eikon as eikon

In [3]:
import pandas as pd
import numpy as np

In [4]:
 eikon.set_app_key('1153655a813e49b09943821a11d273d879402478')

In [5]:
#YTTc1 is the 3year treasury bond future, YTCc1= is the 10y Treasury bond future
rics = ['YTTc1=', 'YTCc1=']

In [7]:
#what is fields = '*'
Table = eikon.get_timeseries (rics,fields ='*',start_date = '2014-01-01', end_date = '2018-12-31', interval = 'daily',calendar='native')
Table

Security   YTTc1=                             YTCc1=                       \
Field        HIGH  VALUE    LOW   OPEN  CLOSE   HIGH  VALUE    LOW   OPEN
Date
2014-01-02    NaN  3.070    NaN    NaN  3.070    NaN  4.285    NaN    NaN
2014-01-03    NaN  3.060    NaN    NaN  3.060    NaN  4.305    NaN    NaN
2014-01-06  3.110  3.090  3.080  3.110  3.090  4.365  4.335  4.330  4.365
2014-01-07  3.090  3.040  3.040  3.090  3.040  4.335  4.275  4.270  4.335
2014-01-08  3.050  3.040  3.030  3.050  3.040  4.285  4.255  4.250  4.285
2014-01-09  3.120  3.100  3.090  3.120  3.100  4.305  4.270  4.270  4.305
2014-01-10  3.120  3.070  3.060  3.120  3.070  4.290  4.215  4.215  4.290
2014-01-13  3.080  3.030  3.030  3.080  3.030  4.235  4.180  4.175  4.235
2014-01-14  3.050  3.010    NaN    NaN  3.010  4.190  4.150    NaN    NaN
2014-01-15  3.060  3.030    NaN    NaN  3.030  4.200  4.180    NaN    NaN
2014-01-16  3.050  2.940    NaN    NaN  2.940  4.215  4.130    NaN    NaN
2014-01-17  2.960  2.870    NaN    NaN  2.870  4.160  4.045    NaN    NaN
2014-01-20  2.890  2.870    NaN    NaN  2.870  4.075  4.035    NaN    NaN
2014-01-21  2.910  2.900    NaN    NaN  2.900  4.060  4.060    NaN    NaN
2014-01-22  3.040  3.030    NaN    NaN  3.030  4.145  4.135    NaN    NaN
2014-01-23    NaN  2.990    NaN    NaN  2.990    NaN  4.115    NaN    NaN
2014-01-24    NaN  2.860    NaN    NaN  2.860    NaN  4.000    NaN    NaN
2014-01-27    NaN  2.820    NaN    NaN  2.820    NaN  3.950    NaN    NaN
2014-01-28    NaN  2.840    NaN    NaN  2.840    NaN  3.970    NaN    NaN
2014-01-29    NaN  2.930    NaN    NaN  2.930    NaN  4.055    NaN    NaN
2014-01-30  2.940  2.860  2.940  2.940  2.860  4.055  3.945  4.055  4.055
2014-01-31  2.910  2.870  2.910  2.910  2.870  3.995  3.935  3.995  3.995
2014-02-03  2.900  2.870  2.900  2.900  2.870  3.955  3.930  3.955  3.955
2014-02-04  2.920  2.910  2.920  2.920  2.910  3.980  3.920  3.980  3.980
2014-02-05  2.980  2.940  2.980  2.980  2.940  4.015  3.965  4.015  4.015
2014-02-06  3.000  2.990  3.000  3.000  2.990  3.000  4.030  3.000  3.000
2014-02-07  3.070  3.040  3.070  3.070  3.040  4.110  4.105  4.110  4.110
2014-02-10  3.070  3.020  3.070  3.070  3.020  4.140  4.075  4.140  4.140
2014-02-11  3.070  3.070  3.070  3.070  3.070  4.135  4.135  4.135  4.135
2014-02-12  3.100  3.090  3.100  3.100  3.090  4.180  4.175  4.180  4.180
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
2018-11-16  2.190  2.160  2.140  2.185  2.160  2.740  2.690  2.670  2.730
2018-11-19  2.145  2.140  2.135  2.140  2.140  2.705  2.670  2.660  2.690
2018-11-20  2.175  2.155  2.140  2.145  2.155  2.720  2.705  2.675  2.675
2018-11-21  2.170  2.150  2.140  2.160  2.150  2.725  2.700  2.680  2.705
2018-11-22  2.170  2.135  2.125  2.150  2.135  2.730  2.670  2.665  2.700
2018-11-23  2.160  2.125  2.125  2.135  2.125  2.690  2.655  2.655  2.670
2018-11-26  2.145  2.110  2.110  2.130  2.110  2.680  2.640  2.635  2.660
2018-11-27  2.140  2.115  2.110  2.115  2.115  2.675  2.640  2.635  2.645
2018-11-28  2.130  2.105  2.100  2.115  2.105  2.655  2.625  2.615  2.640
2018-11-29  2.130  2.090  2.090  2.110  2.090  2.645  2.610  2.605  2.630
2018-11-30  2.100  2.080  2.070  2.090  2.080  2.625  2.595  2.590  2.600
2018-12-03  2.100  2.085  2.065  2.080  2.085  2.635  2.620  2.580  2.600
2018-12-04  2.095  2.040  2.035  2.090  2.040  2.625  2.535  2.530  2.625
2018-12-05  2.065  2.005  1.980  2.045  2.005  2.575  2.510  2.480  2.540
2018-12-06  2.015  1.945  1.940  2.005  1.945  2.535  2.455  2.455  2.510
2018-12-07  1.970  1.940  1.900  1.950  1.940  2.495  2.450  2.415  2.460
2018-12-10  1.960  1.940  1.910  1.935  1.940  2.480  2.445  2.410  2.455
2018-12-11  1.970  1.965  1.930  1.940  1.965  2.470  2.460  2.440  2.445
2018-12-12  1.990  1.970  1.960  1.965  1.970  2.483  2.453  2.435  2.460
2018-12-13  2.005  1.995  1.965  1.970  1.995  2.483  2.473  2.448  2.458
2018-12-14  2.010  1.990  1.970  1.995  1.990  2.488  2.463  2.438  2.475
2018-12-17  1.985  1.940  1.930  1.985  1.940  2.468  2.450  2.430  2.468
2018-12-18  1.940  1.905  1.890  1.930  1.905  2.460  2.425  2.410  2.450
2018-12-19  1.905  1.875  1.860  1.900  1.875  2.425  2.395  2.380  2.425
2018-12-20  1.885  1.835  1.830  1.875  1.835  2.415  2.345  2.330  2.395
2018-12-21  1.870  1.865  1.810  1.830  1.865  2.395  2.395  2.335  2.350
2018-12-24  1.870  1.825  1.820  1.865  1.825  2.400  2.370  2.365  2.395
2018-12-27  1.870  1.850  1.820  1.865  1.850  2.400  2.380  2.365  2.395
2018-12-28  1.845  1.840  1.800  1.845  1.840  2.380  2.370  2.325  2.375
2018-12-31  1.840  1.800  1.800  1.840  1.800  2.370  2.325  2.320  2.365

Security
Field       CLOSE
Date
2014-01-02  4.285
2014-01-03  4.305
2014-01-06  4.335
2014-01-07  4.275
2014-01-08  4.255
2014-01-09  4.270
2014-01-10  4.215
2014-01-13  4.180
2014-01-14  4.150
2014-01-15  4.180
2014-01-16  4.130
2014-01-17  4.045
2014-01-20  4.035
2014-01-21  4.060
2014-01-22  4.135
2014-01-23  4.115
2014-01-24  4.000
2014-01-27  3.950
2014-01-28  3.970
2014-01-29  4.055
2014-01-30  3.945
2014-01-31  3.935
2014-02-03  3.930
2014-02-04  3.920
2014-02-05  3.965
2014-02-06  4.030
2014-02-07  4.105
2014-02-10  4.075
2014-02-11  4.135
2014-02-12  4.175
...           ...
2018-11-16  2.690
2018-11-19  2.670
2018-11-20  2.705
2018-11-21  2.700
2018-11-22  2.670
2018-11-23  2.655
2018-11-26  2.640
2018-11-27  2.640
2018-11-28  2.625
2018-11-29  2.610
2018-11-30  2.595
2018-12-03  2.620
2018-12-04  2.535
2018-12-05  2.510
2018-12-06  2.455
2018-12-07  2.450
2018-12-10  2.445
2018-12-11  2.460
2018-12-12  2.453
2018-12-13  2.473
2018-12-14  2.463
2018-12-17  2.450
2018-12-18  2.425
2018-12-19  2.395
2018-12-20  2.345
2018-12-21  2.395
2018-12-24  2.370
2018-12-27  2.380
2018-12-28  2.370
2018-12-31  2.325

[1277 rows x 10 columns]

In [ ]:
Table = Table.rename(columns={'YTTc1=':'a','YTCc1=':'b'})
# a=2y treasury bond future, b=10y treasury bond future

In [ ]:
#diff() finds difference between list 1 and list 2
#set() convert any of the iterable to the distinct element and sorted sequence of iterable elements 
#.symmetric difference method returns a set that contains all items from both set, but not the items that are present in both sets
def diff(list1, list2):
    return list(set(list1).symmetric_difference(set(list2)))

In [ ]:
#.index.tolist() convert the index to a list
Dates = Table.index.tolist()
a = Table['a']['CLOSE'].tolist()
b = Table['b']['CLOSE'].tolist()



curve =pd.DataFrame({'Dates':Dates,'a':a,'b':b})

#finding the 10y treasury and 3y treasury spread
curve['curve'] = curve['b'] -curve['a']

print(curve)

In [ ]:
%matplotlib notebook

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig, (ax1,ax2) = plt.subplots(1,2)

ax1.plot(curve['Dates'],curve['curve'])

ax2.boxplot(curve['curve'])

In [ ]:
Table.fillna(method='ffill', limit=1)

In [ ]:
x = plt.hist(1)

In [ ]:
curve['month'] = pd.DatetimeIndex(curve['Dates']).month
curve['year'] = pd.DatetimeIndex(curve['Dates']).year
curve['day'] = pd.DatetimeIndex(curve['Dates']).day
yearly_curve =pd.DataFrame()
nov_curve = curve[curve['month']==11]
nov_curve.shape

nov_table = pd.DataFrame(columns=range(2014,2019,1),data=np.zeros((30,5)))

In [ ]:
x

In [ ]:
type(x)

In [ ]:
x[0]

In [ ]:
x[1]

In [ ]:
plt.bar?

In [ ]:
fig, axs = plt.subplots(1, 1, sharey=True, tight_layout=True)
axs.hist(l, bins=150)

In [ ]:
fig

In [ ]:
axs

In [ ]:
axs.get_children()

In [ ]:
k = plt.hist(l,bins=100)

In [ ]:
k

In [ ]:
tb = pd.DataFrame(k[0])

In [ ]:
k[0]

In [ ]:
ls = np.concatenate(k[0],k[1])